/* ---------- General ----------- */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    /* border: 1px solid violet; */
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#error404 {
    position: absolute;
    width: 133px;
    height: 25px;
    left: 77px;
    top: 40px;

    font-family: 'Inconsolata', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;

    color: #333333;

}

@media screen and (max-width: 426px) {
    body {
        display: block;
        margin: 20px;
    }

    main {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 100px;
    }

    #error404 {
        left: 24px;
        top: 20px;
    }
}

/* ------------ MAIN ----------- */

main img {
    width: 500px;
}

.error-content {
    font-family: 'Space Mono', monospace;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.error-content h1 {
    font-size: 54px;
    color: #333;
}

.error-content p {
    font-size: 20px;
    width: 50%;
    color: #4f4f4f;
}

.error-content button {
    text-transform: uppercase;
    outline: 0;
    border: 0;
    width: 216px;
    height: 68px;
    background: #333;
    color: #fff;
    cursor: pointer; 
    transition: background 0.2s;
}
.error-content button:hover {
    background: #000;
}

@media screen and (max-width: 426px) {
    main img {
        width: 286px;
    }

    .error-content {
        width: 100%;
    }

    .error-content h1 {
        font-size: 48px;
    }

    .error-content p {
        width: 100%;
        font-size: 18px;
        margin-top: 2rem;
    }

    .error-content button {
        margin-top: 2rem;
    }
}

/* FOOTER */
footer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    margin: 0 0 15px 0;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    
    color: #BDBDBD;
}

@media screen and (max-width: 426px) {
    footer {
        position: relative;
        margin: 30px 0 0 0;
        padding: 30px 0;
        width: 100%;
        text-align: center;
    }
}